@font-face {
  font-family: 'shopify';
  font-weight: bold;
  src: url('../../assets/fonts/Sans--bold.woff2') format('woff2');
}

@font-face {
  font-family: 'shopify';
  font-weight: 500;
  src: url('../../assets/fonts/Sans--regular.woff2') format('woff2');
}
